@import '../variables.scss';
@import '../animations.scss';


.user-header {
  color: $white;
  letter-spacing:1px;
  text-align:center;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  padding: 30px 0;
}

.add-new {
  font-size: 12px !important;
  width: 50%;
  text-align: center;
  border: 1px solid;
  margin-top: 15px;
  padding: 10px 40px;
  letter-spacing: 2px;
  border-radius: 2px;
  color: $white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position:relative;
  overflow:hidden;
  display:block;
  margin:auto;

  &:hover {
    color: $white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 14px;
  }
}



.submissions-container {
  padding-bottom: 20px;
  width: 70%;
  text-align: center !important;

  .no-submissions {
    padding-top: 15px;
    text-align: center;
    color: $white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.user-item {
  text-align: center;
  height: 150px;
}

.submissions-box {
  text-align: center;
}

.submission-list {
  display: inline-block;
  width: 70%;
}

.like-favorite {
  padding-bottom: 10px;
}
