@import './variables.scss';
@import './animations.scss';

.page-container{
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-content {
  float: right;
  width: 75%;
  height: 100vh;
  padding-bottom: 20px;
  text-align: center;
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  color: $sidebar-font;
  letter-spacing:1px;
  text-align:center;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  padding-top: 40px;
  text-decoration: none;
}

.header {
  color: $white;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
}


.input-field {
  margin-top: 40px !important;
  background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;
  width: 200px;
  height: 30px;
  // top: 250px;
  margin: 0 auto;
  padding: 10px;
  color: $white;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.styled-select {
  position:relative;
  border:solid 1px #888888;
  overflow:hidden;
  display:block;
  width:12em;
  margin:auto;
  font-size:1em;
}

.styled-select {
  width:200px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;

  select {
	  font-size: 10px;
    // text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
	  // height: 2em;
	  margin-top: 8px;
    margin-left: 10px;
	  background: rgb(0, 0, 27); /*IE Fallback*/
	  background: rgba(0, 0, 27, 0);
	  color:$white;
	  border:none;
	  outline:none;
	  display: inline-block;
	  -webkit-appearance:none;
	  -moz-appearance:none;
	  appearance:none;
	  cursor:pointer;
	}

  select option {
    background-color: $white;
  }

  .select-button {
    background-color: transparent;
	  right:0; top:0;
	  position:absolute;
	  pointer-events:none;
	  /*text-align: center; vertical-align: middle; */
	  width: 2em; height: 100%;

    .select-button-text {
      color: $white;
    	line-height: 1.8em;
    	text-align: center;
    	display: block;

      .span {
        font-size: 1em;
      }
    }
  }
}

.small-arrow-down {
	width: 0;
	height: 0;
	border-left: .4em solid transparent;
	border-right: .4em solid transparent;
	border-top: .4em solid $white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.list-container {
  height: 100vh;
  padding: 20px 50px 50px 50px;
  margin: 0 auto;
}

.list-container-item {
  background-color: transparent;
  // height: 300px;
  height: 265px;
  padding-top: 10px;
  padding-bottom: 10px;
  // width: 300px;

  .content {
    color: $black;
    background-color: $white;
    height: 98%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    h3 {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 3px;
    }

    h5 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2px;
      margin: 0;
      border-bottom: 1px solid;
      padding-bottom: 15px;
      padding-top: 10px;
    }

    p {
      font-size: 18px;
      // text-transform: uppercase;
      letter-spacing: 1px;
      padding-top: 15px;
      font-weight: 100;
      letter-spacing: 2px;
    }

    .submission-progress {
      font-size: 12px;
      font-weight: 100;
    }
  }
}

.my-submissions {
  padding-bottom: 15px;
  background-color: $white;
  margin: 13px 0;
  height: 99% !important;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}


.button-transparent {
  font-size: 12px !important;
  width: 52%;
  text-align: center;
  border: 1px solid;
  // margin-top: 25px;
  padding: 15px 40px;
  letter-spacing: 2px;
  border-radius: 2px;
  background: transparent;
  color: $white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position:relative;
  overflow:hidden;
  display:block;
  margin:auto;
  line-height: 18px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 14px;
  }
}

.button-small-transparent {
  font-size: 8px !important;
  width: 25%;
  border: 1px solid $white;
  background: transparent;
  margin-top: 5px;
  padding: 5px 8px;
  letter-spacing: 1px;
  border-radius: 2px;
  color: $white;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $white;
    color: rgb(80,56,76);
    letter-spacing: 2px;
    font-size: 12px;
  }
}

.form-edit {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.small-text {
  color: $white;
  font-size: 12px;
  padding-top: 7px;
  margin-bottom: 8px;
  letter-spacing: 2px;
  padding-left: 4px;
  padding-right: 2px;
}

.width100 {
  width: 100% !important;
}

.button-small {
  font-size: 8px !important;
  width: 50%;
  border: 1px solid;
  margin-top: 5px;
  padding: 5px 8px;
  letter-spacing: 1px;
  border-radius: 2px;
  color: rgb(80,56,76);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white;
    background-color: rgb(80,56,76);
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
  }
}
